<p style="color: green"><%= notice %></p>

<%= render "list", list: @list %>

<div>
  <%= link_to "Back to lists", lists_path %>

  <%= button_to "Destroy this list", @list, method: :delete %>
</div>


